user:
    id: {{ vars.local.user.id }}
    name: {{ vars.local.user.name }}
    city: {{ vars.global.city }}
    contacts:
        phone:
            country: ru
            number: {{ vars.local.user.phone_number }}
